.mainDiv {
    width: 100%;
    /* background-color: blue; */
    background-color: #1b1b20;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* height: 35vh; */
    border-radius: 0.5vw;
}
.reportDiv{
    width: 100%;
    background-color: #1f2027;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* height: 35vh; */
    border-radius: 0.5vw;
    margin: 3vw;
    margin-left: 0vw;
}
.tagsDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    /* background-color: green; */
    /* padding: 3vw; */
    margin: 0.5vw;
    margin-left: 1vw;
    margin-top: 4vw;
    
}

.nameTags {
    color: var(--Main-Color, #FFCE21);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "SF Pro Display";
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* background-color: yellow; */
    /* 15.469px */
}