.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backButton {
    color: var(--Main-Color-Text, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "SF Pro Display";
    font-size: 1vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 0.5vw;
    /* background-color: #1b1c20; */
    background-color: "#1F2027";
    box-shadow: 0px 0px 8px rgba(255, 255, 35, 0.2);
    padding: 0.3vw;
    width: 4vw;
    margin-right: 33vw;
    margin-top: -0vw;

}

.headText {
    color: var(--Main-Color-Text, #FFF);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.05px;
    margin-top: 1vw;
}