.mainDiv {

    padding: 2vw;
    width: 100%;
    background-color: #1b1c20;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3);
    border-radius: 0.5vw;
    padding-top: 0;


}

.detailTop {
    display: flex;
    align-items: center;
    padding: 1.2vw;

    justify-content: space-between;
}

.detailSubDiv {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: space-between; */
}

.subDiv {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-between; */
    padding: 1vw;
    padding-bottom: 0vw;
    margin-bottom: -0.3vw;
    margin-top: 4vw;

}

.subDiv1 {
    color: var(--Main-Color-Text, #FFF);
    text-align: right;
    font-family: "SF Pro Display";
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 16.971px */
    letter-spacing: -0.109px;
    text-align: left;

}

.subDiv2 {
    color: var(--Main-Color, #FFCE21);
    text-align: right;
    font-family: "SF Pro Display";
    font-size: 1vw;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 16.971px */
    letter-spacing: -0.109px;
    text-align: left;
    margin-top: 0.5vw;

}

.descriptionDiv {
    padding: 2.2vw;
}

.descriptionTag {
    color: white;
    font-family: "SF Pro Display";
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    width: 19vw;
    /* 19.88px */
    letter-spacing: -0.196px;
    padding-top: 0.6vw;
    padding-bottom: 0.7vw;
    padding-left: 0.2vw;
    /* margin-top: 3vw; */

}

.descriptionText {
    color: var(--Sub-text-Color, rgba(255, 255, 255, 0.70));
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    line-height: 1.2vw;
    font-size: 1vw;
    /* 19.88px */
    letter-spacing: 0.196px;
    padding-top: 0.2vw;
    /* padding-bottom: 0.3vw; */
    padding-left: 0.2vw;

}

.buttonDiv {
    background-color: #ffce21;
    padding: 0.3vw;
    width: 20%;
    border-radius: 1vw;
    text-align: center;
    margin-top: 2vw;
    /* margin-left: 4.8%; */
}

.button {
    color: var(--Inner-Black-Shade, #1F2027);
    font-family: "SF Pro Display";
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.commentDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw;
    /* width: 80%; */
    background-color: #1b1c20;
    padding-bottom: 1vw;
}

.text {
    color: var(--Main-Color-Text, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "SF Pro Display";
    font-size: 2vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -1.2px;
}

.commentSubDiv {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 12vw;
    margin-top: 1vw;
}

.view {
    /* border: 1px solid #ffce21; */
    border-radius: 2vw;
    background-color: transparent;
    /* color: #ffce21; */
    color: var(--Sub-text-Color, rgba(255, 255, 255, 0.70));
    font-family: "SF Pro Display";
    padding: 0.5vw;
    font-size: 0.9vw;
    /* width: 8vw; */
    font-weight: 100;
    font-style: normal;

}

.writeCommentDiv {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 2.5vw;


}

.writeCommentInputDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #1b1c20;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.1);
    padding: 0.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.5vw;
    margin-left: 1vw;


}

.writeCommentInputDiv>input {
    background-color: transparent;
    color: var(--Sub-text-Color, rgba(255, 255, 255, 0.70));
    font-family: "SF Pro Display";
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
}
