.mainDiv {
  padding: 2vw;
  width: 100%;
  background-color: #1b1c20;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3);
  border-radius: 0.5vw;
  margin-top: 5vw;
}

.overViewCss{
  margin-left: -50%;
}

.backButton {
  color: var(--Main-Color-Text, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "SF Pro Display";
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 0.5vw;
  background-color: #1b1c20;
  box-shadow: 0px 0px 8px rgba(255, 255, 35, 0.2);
  padding: 0.3vw;
  width: 5vw;
  margin-left: 0%;
  margin-top: -0vw;
}
