.spanText {
    color: var(--Sub-text-Color, rgba(255, 255, 255, 0.70));
    font-family: "SF Pro Display";
    font-size: 1vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.linkText{
    color: var(--Main-Color, #FFCE21);
font-feature-settings: 'clig' off, 'liga' off;
font-family: "SF Pro Display";
font-size: 1vw;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: -0.1vw;
}
.linkDiv{
    padding: 2vw;
}