.mainDiv {
    width: 50%;
    /* background-color: blue; */
    background-color: #141316;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 35vh;
    border-radius: 0.5vw;
}
.amount{
   
        color: var(--Main-Color-Text, #ffce21);
        text-align: center;
        font-family: "SF Pro Display";
        font-size: 1.5vw;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        /* 35px */
        letter-spacing: -0.05px;
        margin-top: 1vw;
        text-decoration: underline;
        margin-left: 0.3vw;
  
}